

<table class="mytable">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Student Id<i  class="my-icon fa fa-chevron-up"></i></th>
        <th scope="col">Student Name</th>
        <th scope="col">Class Id</th>
        <th scope="col">Class Name</th>
        <th scope="col">TimeStamp</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of data; let i=index;">
        <th scope="row">{{i}}</th>
        <td>{{obj.id}}</td>
        <td>{{obj.name}}</td>
        <td>{{obj.classId}}</td>
        <td>{{obj.className}}</td>
        <td>{{ConvertImeStampToDate(obj.timeStamp)}}</td>
      </tr>
    </tbody>
  </table>

